@model IEnumerable<TrilhaNetMVCDesafio.Models.Tarefa>
@{
    ViewData["Title"] = "Pesquisa Avançada - Organizador de Tarefas";
}

<div class="text-center">
    <h1 class="display-4">Seja bem vindo à Pesquisa Avançada de Tarefas!</h1>
    <p>Esta é a pagina de pesquisa avançada de tarefas e tem como objetivo permitir as mesmas consultas do projeto API
        como 'ObterPorTitulo', 'ObterPorStatus' e 'ObterPorData'. </p>

</div>

<br />

<div>
    <form asp-action="PesquisaAvancada" method="get">
        <div class="row align-items-center">
            <div class="form-group col-md-1"><label for="inlineFormCustomSelect">Filtrar por:</label></div>
            <div class="form-group col-md-2">
                @Html.DropDownList(
                    "currentFilterType",
                    Html.GetEnumSelectList<CurrentFilterType>(),
                    new{@class="form-control custom-select", @id="inlineFormCustomSelect"})
            </div>
            <div class="form-group col-md-7">
                <input type="text" name="SearchString" class="form-control" value="@ViewData["CurrentFilter"]" />
            </div>
            <div class="form-group col-md-2">
                <button type="submit" class="btn btn-primary">Filtrar</button>
                <a asp-action="PesquisaAvancada" class="btn btn-secondary">Limpar filtros</a>
            </div>
        </div>
    </form>
</div>
<br />


<div class="text-center">
    <table class="table">
        <thead class="thead-dark">
            <tr>
                <th scope="col">@Html.DisplayNameFor(x=>x.Id)</th>
                <th scope="col">
                    <a asp-action="PesquisaAvancada" asp-route-sortOrder="@ViewData["TituloSortParm"]">
                        @Html.DisplayNameFor(x => x.Titulo)
                    </a>
                </th>
                <th scope="col">
                    <a asp-action="PesquisaAvancada" asp-route-sortOrder="@ViewData["DataSortParm"]">
                        @Html.DisplayNameFor(x=>x.Data)
                    </a>
                </th>
                <th scope="col">@Html.DisplayNameFor(x=>x.Status)</th>
                <th scope="col" colspan="3">Ações</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th scope="row">@item.Id</th>
                    <td>@item.Titulo</td>
                    <td>@item.Data</td>
                    <td>@item.Status</td>
                    <td><a asp-action="Detalhar" asp-route-id="@item.Id">Detalhar</a></td>
                    <td><a asp-action="Editar" asp-route-id="@item.Id">Editar</a></td>
                    <td><a asp-action="Excluir" asp-route-id="@item.Id">Excluir</a></td>
                </tr>
            }
        </tbody>
    </table>
</div>